* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* a {
    text-decoration: none;
    }
    body {
        margin: 0px 370px;
        padding: 0px;
        background: rgb(206, 206, 206);
        position: absolute;
        font-family: League Spartan;
    }
    .container1 {
        
        width: 1442px;
        height: 3667px;
        background-color: white;
        position: absolute;
    }
    .description-1 {
        position: absolute;
        width: 171px;
        height: 41px;
        left: 621px;
        right: 650px;
        top: 971px;
        bottom: 2665px; 
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 300;
        line-height: 186%;
        text-align: center;               
    }
    .title-2 {
        position: absolute;
        width: 285px;
        height: 62px;
        left: 564px;
        right: 593px;
        top: 1012px;
        bottom: 2603px;
        color: rgb(0, 0, 0);
        font-size: 72px;
        font-weight: 400;
        line-height: 112.5%;
        text-align: center;        
    }
    .box-1 {
        position: absolute;
        width: 417px;
        height: 630px;
        left: 511px;
        right: 514px;
        top: 1158px;
        bottom: 1889px;
        background: rgb(248, 248, 248);        
    }
    .img-15 {
        position: absolute;
        width: 286px;
        height: 410px;
        left: 582px;
        right: 574px;
        top: 1268px;
        bottom: 1999px;
    }
    .title-3 {
        position: absolute;
        width: 285px;
        height: 27px;
        left: 576px;
        right: -329px;
        top: 1855px;
        bottom: -1644px;
        color: rgb(0, 0, 0);
        font-size: 32px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;                
    }
    .description-2 {
        position: absolute;
        width: 532px;
        height: 194px;
        left: 454px;
        right: -454px;
        top: 1899px;
        bottom: -1855px;
        color: rgb(22, 21, 21);
        font-size: 32px;
        font-weight: 300;
        line-height: 155%;        
        text-align: center;
    }
    .box-2 {
        position: absolute;
        width: 496px;
        height: 630px;
        left: 472px;
        right: 474px;
        top: 2178px;
        bottom: 869px;
        background: rgb(248, 248, 248);        
    }
    .img-17 {
        position: absolute;
        width: 500px;
        height: 500px;
        left: 470px;
        right: 472px;
        top: 2243px;
        bottom: 934px;        
    }
    .title-4 {
        position: absolute;
        width: 66px;
        height: 29px;
        left: 687px;
        right: -243px;
        top: 2875px;
        bottom: -2662px;
        color: rgb(22, 21, 21);
        font-size: 32px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;                
    }
    .description-3 {
        position: absolute;
        width: 510px;
        height: 196px;
        left: 465px;
        right: -465px;
        top: 2921px;
        bottom: -2875px;
        color: rgb(22, 21, 21);
        font-size: 32px;
        font-weight: 300;
        line-height: 155%;
        text-align: center;
    }
    span {
        
        position: absolute;
        width: 972px;
        height: 50px;
        left: 234px;
        right: 236px;
        top: 3176px;
        bottom: 451px;        
        color: rgb(22, 21, 21);
        font-size: 32px;
        font-weight: 400;
        line-height: 186%;
        text-align: center;
    }
    span::after {
        content: '';
        background: #707070;
        position: absolute;
        display: block;
        width: 18%;
        height: 1px;
        display: block;
        transform: translateX(225%);
        border: 1px solid rgb(112, 112, 112);
        
    }
    .line {
        text-decoration: underline;
        color: #BB8B5D;
        font-weight: 500;
        
    }
    
    .description-4 {
        position: absolute;
        width: 515px;
        height: 231px;
        left: 464px;
        right: 463px;
        top: 3284px;
        bottom: 162px;
        color: rgb(22, 21, 21);
        font-family: League Spartan;
        font-size: 24px;
        font-weight: 300;
        line-height: 170%;
        letter-spacing: 0%;
        text-align: center;        
        
}

.container2 {
    position: relative;
    text-align: center;
    width: 1442px;
    height: 959px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    background: rgb(248, 248, 248);
    
}
    
    
    .desc1 {
        color: rgb(22, 21, 21);
        font-size: 24px;
        font-weight: 300;
        line-height: 186%;
        letter-spacing: 0%;
        text-align: left;
        position: absolute;
        width: 135px;
        height: 32px;
        left: 133px;
        right: 1172px;
        top: 104px;
        bottom: 3493px;
    } 
    .desc2 {
        position: absolute;
        width: 575px;
        height: 142px;
        left: 135px;
        right: 732px;
        top: 475px;
        bottom: 3060px;
        color: rgb(22, 21, 21);
        font-size: 32px;
        font-weight: 300;
        line-height: 155%;
        letter-spacing: 0%;
        text-align: left;
    }
    .title {
        position: absolute;
        width: 888px;
        height: 215px;
        left: 133px;
        right: 421px;
        top: 217px;
        bottom: 3245px;
        color: rgb(39, 39, 39);
        font-size: 250px;
        font-weight: 300;
        line-height: 230px;
        letter-spacing: 0%;
        text-align: left;        
    }
                    
    .img14 {        
        position: absolute;
        width: 408px;
        height: 720px;
        padding: 28.49px 235.75px 203.49px 785.75px;
        transform: rotate(-1.00deg);
    }
    .header-btn {
        position: absolute;
        width: 278px;
        height: 82px;
        left: 135px;
        right: 1029px;
        top: 678px;
        bottom: 2917px;
        font-size: 32px;
        font-weight: 300;
        line-height: 29px;
        text-align: left; 
        background: black; 
        padding: 26px 74px 35px 73px;  

    }
    .header-btn__link {
        color: white; 
        margin-top: 704px;
        right: 1103px;
        bottom: 2000px;
        left: 208px;
        
    }
    .price {
        position: absolute;
        width: 143px;
        height: 82px;
        left: 413px;
        right: 886px;
        top: 678px;
        bottom: 2917px;
        box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
        background: white;
        padding: 13px 27px 31px 28px;
        color: rgb(39, 39, 39);
        font-family: League Spartan;
        font-size: 32px;
        font-weight: 300;
        line-height: 186%;
        text-align: center;
    }

    
    

    
    
        